

.header {
  padding: 32px 80px 39px;
  display: flex;
  background-color: var(--violet);
  color: var(--white);
  @media (max-width: 1024px) {
    justify-content: space-between;
    padding: 12px 16px 64px;
  }
}
.btn {
  align-self: start;
}
.btn:last-of-type {
  margin-left: auto;
  @media (max-width: 1024px) {
    margin: 0;
  }
}

.user {
  margin-left: 45px;
  display: grid;
  align-items: center;
  grid-template-areas:
    "img name"
    "img role";
  @media (max-width: 1024px) {
    margin: 0;
    margin-top: 50px;
    text-align: center;
    gap: 16px;
    grid-template-areas:
      "name"
      "role"
      "img";
  }
}

.img {
  grid-area: img;
  width: 187px;
  height: 187px;
  border-radius: 100px;
  margin-right: 32px;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}

.name {
  grid-area: name;
  align-self: flex-end;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.role {
  grid-area: role;
  align-self: flex-start;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.main {
  display: flex;
  padding: 48px 305px 300px 188px;
  background-color: var(--white);
  margin: auto;
  gap: 130px;
  color: var(--black);
  @media (max-width: 1024px) {
    padding: 32px 16px;
    display: grid;
    gap: 32px;
    grid-template-areas: 
    'social'
    'description';
  }
}

.descriptionContainer {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.187%;
}

.socialList {
  grid-area: social;
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.span {
  margin-right: 8px;
}

.item {
  width: max-content;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.187%;
}
